@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #DA6E45;
}

@font-face {
  font-family: "Acumin";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("/fonts/Acumin Pro Thin.otf") format("truetype");
}

@font-face {
  font-family: "Acumin";
  font-style: italic;
  font-weight: 200;
  src: local(""), url("/fonts/Acumin Pro Thin Italic.otf") format("truetype");
}

@font-face {
  font-family: "Acumin";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/Acumin Pro Medium.otf") format("truetype");
}

@font-face {
  font-family: "Acumin";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("/fonts/Acumin Pro Medium Italic.otf") format("truetype");
}

@font-face {
  font-family: "Acumin";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/fonts/Acumin Pro Book.otf") format("truetype");
}

@font-face {
  font-family: "Acumin";
  font-style: italic;
  font-weight: 500;
  src: local(""), url("/fonts/Acumin Pro Book Italic.otf") format("truetype");
}

@font-face {
  font-family: "Acumin";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("/fonts/Acumin Pro SemiBold.otf") format("truetype");
}

@font-face {
  font-family: "Acumin";
  font-style: italic;
  font-weight: 600;
  src: local(""),
    url("/fonts/Acumin Pro SemiBold Italic.otf") format("truetype");
}

@font-face {
  font-family: "Acumin";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/Acumin Pro Bold.otf") format("truetype");
}

@font-face {
  font-family: "Acumin";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("/fonts/Acumin Pro Bold Italic.otf") format("truetype");
}
